<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page 1+2</h1>
    <h3><%= 1+ 2  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis iste numquam magni qui possimus, in veritatis? Quidem vero perferendis ad dicta odio sunt laborum recusandae. Ducimus odio excepturi aut soluta.</p>
    <button>click me!</button>
</body>
</html>