.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    font-size: 20px; /* Initial font size */


    /* Animation properties */
    animation-name: colorAnimation;
    animation-duration: 3s; /* Define how long the animation lasts */
    animation-delay: 2s; /* Delay before the animation starts */
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    animation-direction: normal;
}

@keyframes colorAnimation {
    0%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: yellow;
    }
}
@keyframes fontAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}
@keyframes colourAnimate{
    from{
        background-color: yellow;
    }
    to{
        background-color: orangered;
    }
}
@keyframes widthAnimation {
    from {
        width: 10px;
        background-color: yellow;

    }
    to {
        width: 400px;
        background-color: aqua;
        border-radius: 15px;
    }
}
